<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <form class="" action="/math" method="get">
    <select name="operation">
    			<option>Add</option>
    			<option>Subtract</option>
    			<option>Multiply</option>
    			<option>Divide</option>
    </select>
    <label for="var1">Var 1</label>
    <input type="number" name="var1" id="var1">
    <label for="var2">Var 2</label>
    <input type="number" name="var2" id="var2">
    <input type="submit" name="submit">
  </form>

</body>
</html>
