/**** Navigation Bar ****/
@import url('http://fonts.googleapis.com/css?family=Open+Sans:700');
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope');
.navbar {
    overflow: hidden;
    background-color: #3AAFA9;
    font-family: 'Open Sans', sans-serif;
    display: flex;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:active{
    color: #17252A;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    color: #17252A;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}


.pageTitle{

    font-family: "Open Sans";
    font-size: 120px;
    text-align: center;
    margin-top: -10px;
    font-weight: lighter;
    color: #dddddd;
}

.picture1{
    margin-top: -70px;
    width: auto;
    height: 600px;
    margin-left: 50px;
    float: left;
}
.picture2{
    width: auto;
    height: 600px;
    float: right;
}

.description{
    float: right;
    max-width: 50%;
    font-size: 20px;
}

.description2{
    float: left;
    max-width: 35%;
    font-size: 20px;
    margin-top: 120px;
}

.iwd{
    font-family:AppleGothic;
    font-weight: lighter;
    font-size: 20px;
}

.iwd2{
    font-family:AppleGothic;
    font-weight: lighter;
    font-size: 20px;
    margin-left: 100px;
    margin-top: 100px;
}